@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
html, body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 500px;
    border-radius: 10px;
}

.left {
    flex: 1;
    background-color: #FFE6C9; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    height: 500px;
}

.big-circle {
    position: absolute;
    top: -45px;
    left: -45px;
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 50%;
}

.big-circle img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: left top; 
    object-position: center top;
}

.left .content {
    text-align: center;
    color: #73114B;

}

.left .illustration{
    background: #feddba;
    border-radius:100%;
    width: 300px; 
    height: 300px; 
    position: relative; 
}

.left .illustration img{
    display: block;
    margin: 40px auto; 
}

.arrows{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.left .content h1 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}

.left .content h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

.right {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    width: 50%;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.right .illustration img {
    width: 50px; 
    height: 50px;
    text-align: left;
}

.right .content {
    text-align: left;
    margin-left: 0;
}

.right .content h1 {
    font-size: 24px;
    color: #525252
}

.right .content h3 {
    color: #525252;
    font-size: 16px;
    margin-top: 1px;
}

.login-info .icon {
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.icon img {
    width: 20px; 
    height: 20px; 
    margin-right: 20px;
}

.login-info p {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.form {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-right: 0px;
}

.remember-me label {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    background-color: #7F265B; 
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #590c34; 
}

.right .create p {
    margin-top: 40px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.create-account {
    color: #7F265B; 
}
